.map {
  height: 400px;
  clear: both;
}

.store-locator {
  position: relative;
}

.store-list {
  height: 400px;
  background: white;
  opacity: 0.8;
  width: 290px;
}

.store-list-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 400px;
  overflow-y: scroll;
}

.more-details {
  display: none;
}

.working-hours {
  width: 200px;
}
