.map {
  height: 400px;
  clear: both;
}

.store-locator {
  position: relative;
  overflow-x: hidden;
}

.list-group {
  height: 400px;
  background: white;
  opacity: 0.8;
  width: 290px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.more-details {
  padding-top: 10px;
}

.list-group {
  margin-bottom: 0;
}
.list-group-item {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

.list-group-item:first-child {
  border-top: none;
  border-radius: 0;
}

.list-group-item:last-child {
  border-bottom: none;
  border-radius: 0;
}

@media (min-width: 1025px) {
  .toggle-list {
    display: none;
  }

  .list-group {
    opacity: 1;
  }

  .map {
    margin-left: 290px;
  }

  .to-map {
    display: none;
  }
}
